.conteudo {
    --background: #fff url(../../../assets/imgApp/FundoArt.png) no-repeat center center / cover;
    text-align: center;
}

.logo {
    width: 70%;
    margin-top: 10%;
}

.redeSocial img {
    width: 75%;
    margin-top: 20%;
}