<ion-content class="conteudo">

  <img class="logo" src="../../../assets/imgApp/LogoKiBeleza.svg" alt="Logo Kibeleza">

  <ion-row>
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/imgApp/img01.jpeg" alt="Logo Kibeleza">
      </ion-tab-button>
    </ion-col>

    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/imgApp/img02.jpg" alt="Logo Kibeleza">
      </ion-tab-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-slides pager="true">
      
        <ion-slide>
          <img src="../../../assets/imgApp/servico01.png" alt="Serviço 1">
        </ion-slide>
    
        <ion-slide>
          <img src="../../../assets/imgApp/servico02.png" alt="Serviço 2">
        </ion-slide>
    
        <ion-slide>
          <img src="../../../assets/imgApp/servico04.png" alt="Serviço 4">
        </ion-slide>
      
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row class="redeSocial">
    <ion-col size="3">
      <a href="https://pt-br.facebook.com">
        <img src="../../../assets/imgApp/facebook.svg" alt="Facebook">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://www.instagram.com">
        <img src="../../../assets/imgApp/instagram.svg" alt="Instagram">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://twitter.com">
        <img src="../../../assets/imgApp/twitter.svg" alt="Twitter">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://wa.me/55119999999">
        <img src="../../../assets/imgApp/WhatsVerde.svg" alt="WhatsApp">
      </a>
    </ion-col>
  </ion-row>
  
</ion-content>
