<ion-header>
  <ion-toolbar class="topo">
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">

  <img class="logo" src="../../../assets/imgApp/LogoKiBeleza.svg" alt="Logo Kibeleza">

  <ion-row>
    <ion-col class="descricao" size="11">
      <p>
        Tenha um dia incrível no salão de beleza, temos pacotes exclusivos
        e o melhor de tudo: Com preços baixíssimos, venha conferir e agende seu dia!
      </p>
    </ion-col>

    <ion-col class="fachada"size="11">
      <img src="../../../assets/imgApp/sobre.jpg" alt="Sobre">
    </ion-col>
  </ion-row>

  <ion-row class="redeSocial">
    <ion-col size="3">
      <a href="https://pt-br.facebook.com">
        <img src="../../../assets/imgApp/facebook.svg" alt="Facebook">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://www.instagram.com">
        <img src="../../../assets/imgApp/instagram.svg" alt="Instagram">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://twitter.com">
        <img src="../../../assets/imgApp/twitter.svg" alt="Twitter">
      </a>
    </ion-col>

    <ion-col size="3">
      <a href="https://wa.me/55119999999">
        <img src="../../../assets/imgApp/WhatsVerde.svg" alt="WhatsApp">
      </a>
    </ion-col>
  </ion-row>

</ion-content>
