<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label> HOME </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label> SOBRE </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-servico">
      <ion-icon name="cut-outline"></ion-icon>
      <ion-label> SERVIÇO </ion-label>
    </ion-tab-button>

  <ion-tab-button tab="perfil">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label> PERFIL </ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
